.item_color_white {
  background-color: #eee5e5;
}

.item_color_light-orange {
  background-color: #f6cb77;
}

.item_color_light-green {
  background-color: #b2f493;
}

.item_color_light-red {
  background-color: #f26d50;
}
